[project]
[access "refs/heads/*"]
	create = group samsung_qcom_common
	push = group samsung_qcom_common
	label-Code-Review = -2..+2 group samsung_qcom_common
	label-Verified = -1..+1 group samsung_qcom_common
	submit = group samsung_qcom_common
	rebase = group samsung_qcom_common
[submit]
	action = rebase if necessary
